* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

* .hover-effect {
  text-decoration: none;
  padding: 3px 10px;
  border: 2px solid #075619;
  border-radius: 5px;
  background-color: transparent;
  color: #075619;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}

* .hover-effect::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 10%;
  height: 2px;
  width: 20px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

* .hover-effect::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  right: 10%;
  height: 2px;
  width: 20px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

* .hover-effect:hover {
  text-decoration: none;
  color: #075619;
}

* .hover-effect:hover::before {
  left: 60%;
}

* .hover-effect:hover::after {
  right: 60%;
}

* .sec-heading {
  margin-top: 0 !important;
  padding: 5px 20px;
  text-align: center;
  color: #075619;
  position: relative;
}

* .sec-heading::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -15px;
  height: 2px;
  background-color: #075619;
  width: 30px;
}

* .intro-img-box {
  position: relative;
  min-height: 250px;
  max-height: 250px;
}

* .intro-img-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

* .intro-img-box img {
  width: 100%;
  max-height: 250px;
  min-height: 250px;
}

body {
  font-family: 'Cairo', sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #212121;
}

body::-webkit-scrollbar-thumb {
  background-color: #075619;
}

nav {
  background-color: transparent;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .nav-icon {
  width: 100px;
  height: 80px;
}

nav .nav-icon img {
  width: 100%;
  height: 100%;
}

nav .nav-links .menu-container {
  height: 100%;
}

nav .nav-links .menu-container .menu-item a {
  text-decoration: none;
  color: #212121;
  padding-bottom: 5px;
  position: relative;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .nav-links .menu-container .menu-item a:hover, nav .nav-links .menu-container .menu-item a.active {
  color: #075619;
  border-bottom: 2px solid #075619;
}

nav .lang-btn a {
  border: 2px solid #075619;
  text-decoration: none;
  color: #075619;
  padding-bottom: 8px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .lang-btn a:hover {
  color: #fff;
  background-color: #075619;
}

nav .mobile-menu-btn .menu-btn:focus {
  outline: none;
}

nav .mobile-menu-btn .menu-btn svg {
  font-size: 25px;
  color: #075619;
}

.mobile-menu-content {
  margin-bottom: 0;
}

.mobile-menu-content ul {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 0;
}

.mobile-menu-content ul li {
  overflow: hidden;
  padding: 10px 0;
  position: relative;
}

.mobile-menu-content ul li a {
  color: #666;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mobile-menu-content ul li a::before {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #075619;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mobile-menu-content ul li a:hover, .mobile-menu-content ul li a.active {
  color: #075619;
}

.mobile-menu-content ul li a:hover:hover, .mobile-menu-content ul li a.active:hover {
  text-decoration: none;
  color: #075619;
}

.mobile-menu-content ul li a:hover::before, .mobile-menu-content ul li a.active::before {
  left: 0;
}

.mobile-menu-content ul li a:hover::before {
  left: 0;
}

@media (min-width: 990px) {
  .mobile-menu-btn {
    display: none !important;
  }
}

@media (max-width: 990px) {
  .nav-links {
    display: none;
  }
}

.carousel .carousel-indicators li.active {
  background-color: #075619 !important;
}

.carousel .carousel-inner .carousel-item {
  max-height: 600px;
  min-height: 600px;
}

.carousel .carousel-inner .carousel-item img {
  max-height: 600px;
  min-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.welcome-sec {
  padding: 30px 0;
}

.welcome-sec .welcome-img {
  max-width: 540px;
  max-height: 100%;
}

.welcome-sec .welcome-img img {
  max-height: auto;
  border-radius: 10px;
}

.welcome-sec .welcome-text h2 {
  width: 100%;
  text-align: start;
  color: #075619;
  font-weight: 400;
}

.welcome-sec .welcome-text p {
  text-align: justify;
  line-height: 1.8;
  color: #6d6e75;
}

.quality {
  padding: 30px 0;
}

.quality .quality-info h2 {
  color: #075619;
}

.quality .quality-info p {
  color: #212121;
  text-align: justify;
  -webkit-padding-end: 25px;
          padding-inline-end: 25px;
}

.quality .certificates .img-box {
  overflow: hidden;
  border-radius: 10px;
}

.quality .certificates .img-box img {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.quality .certificates .img-box img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.services {
  padding: 30px 0;
}

.services .card {
  padding-top: 10px;
  border: 2px solid #075619;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

.services .card img {
  min-width: 250px;
  max-width: 250px;
  min-height: 250px;
  max-height: 250px;
  border-radius: 50%;
}

.services .card .card-body {
  position: relative;
  text-align: center;
}

.services .card .card-body h4 {
  color: #075619;
}

.services .card .card-body a {
  margin-top: 10px;
  padding: 0 5px;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.services .card .card-body a:focus {
  outline: none;
}

.why-green-arrow {
  padding: 30px 0;
}

.why-green-arrow .row {
  background: #075619;
  background: -webkit-gradient(linear, left top, left bottom, from(#24923d), to(#fff));
  background: linear-gradient(to bottom, #24923d, #fff);
  color: #075619;
}

.products {
  padding: 30px 0;
}

.products a {
  text-decoration: none;
}

.products a .card {
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products a .card img {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  border-radius: 50%;
}

.products a .card .card-body {
  text-align: center;
}

.products a .card .card-body h4 {
  color: #6d6e75;
}

.news {
  padding: 30px 0;
}

.news .card {
  position: relative;
  border: none;
  position: relative;
  border-radius: 10px;
}

.news .card .badge {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #075619;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  border-radius: 15px;
}

.news .card .card-body {
  position: relative;
  left: 50%;
  top: -50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  width: 90%;
  z-index: 999;
  border: 2px solid #075619;
  padding: 0 15px 25px;
  min-height: 265px;
  max-height: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .card .card-body h4 {
  color: #075619;
}

.news .card .card-body p {
  color: #6d6e75;
  text-align: justify;
}

.news .card .card-body .card-link {
  display: block;
  width: 100%;
  text-align: start;
}

.news .card .card-body .card-link a {
  text-decoration: none;
}

.news .card .card-body .card-link a span {
  color: #075619;
}

.news .card .card-body .card-link a span svg {
  color: #555;
}

.news .card .card-body .card-link a span svg.arrow {
  color: #075619;
  -webkit-margin-start: 8px;
          margin-inline-start: 8px;
  font-size: 18px;
}

.about-us-desc {
  padding: 30px 0;
}

.about-us-desc .about-img {
  max-width: 540px;
  max-height: 100%;
}

.about-us-desc .about-img img {
  max-height: auto;
  border-radius: 10px;
}

.about-us-desc .about-text h2 {
  color: #075619;
  font-weight: 400;
}

.about-us-desc .about-text p {
  text-align: justify;
  line-height: 1.8;
  color: #6d6e75;
}

.goals {
  padding: 30px 0;
  padding-bottom: 0;
}

.goals p {
  color: #6d6e75;
  text-align: justify;
  font-size: 19px;
  line-height: 1.6;
}

.comp-heighlight {
  padding: 30px 0;
}

.comp-heighlight .sec-heading::before, .comp-heighlight .sec-heading::after {
  width: 9%;
}

.projects-page {
  padding: 30px 0;
}

.projects-page .card {
  border: none;
}

.projects-page .card img {
  border-radius: 10px;
}

.projects-page .card .card-body {
  position: relative;
}

.projects-page .card .card-body h4 {
  color: #6d6e75;
}

.projects-page .card .card-body a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -25%;
  right: 10%;
  background-color: #075619;
  border: none;
  line-height: 28px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.projects-page .card .card-body a:focus {
  outline: none;
}

.projects-page .card .card-body a:hover {
  -webkit-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
}

.project-details {
  padding: 30px 0;
}

.project-details .project-details-img img {
  border-radius: 10px;
}

.project-details .project-details-text h2::before, .project-details .project-details-text h2::after {
  width: 13%;
}

.project-details .project-details-text p {
  padding: 0 10px;
  color: #6d6e75;
  font-size: 20px;
  text-align: justify;
}

.why-sec {
  padding: 30px 0;
}

.why-sec h2::before, .why-sec h2::after {
  width: 6%;
}

.videos {
  padding: 30px 0;
}

.videos .owl-carousel .videos-slider-item iframe {
  width: 100%;
  border-radius: 10px;
  max-height: 280px;
  min-height: 280px;
}

.videos .owl-carousel .owl-nav {
  position: relative;
}

.videos .owl-carousel .owl-nav .owl-prev {
  width: 35px;
  height: 35px;
  position: absolute;
  left: -19px;
  top: -220px;
  background-color: #075619;
}

.videos .owl-carousel .owl-nav .owl-prev span {
  font-size: 35px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
}

.videos .owl-carousel .owl-nav .owl-next {
  width: 35px;
  height: 35px;
  position: absolute;
  right: -19px;
  top: -220px;
  background-color: #075619;
}

.videos .owl-carousel .owl-nav .owl-next span {
  font-size: 35px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
}

.why-to-invest {
  padding: 30px 25px;
  background: -webkit-gradient(linear, left top, right top, from(#1d976c), to(#93f9b9));
  background: linear-gradient(to right, #1d976c, #93f9b9);
  color: #fff;
}

.why-to-invest a {
  color: #fff;
  border-color: #fff;
}

.why-to-invest a::before, .why-to-invest a::after {
  background-color: #88F0B2;
}

.why-to-invest a:hover {
  color: #fff;
}

.products-page {
  padding: 30px 0;
}

.products-page .filters-box .filter {
  border: 1px dashed #075619;
}

.products-page .filters-box .filter h5 {
  color: #075619;
}

.products-page .filters-box .filter label {
  color: #6d6e75;
}

.products-page .card {
  border: none;
}

.products-page .card img {
  border-radius: 10px;
}

.products-page .card .card-body {
  position: relative;
}

.products-page .card .card-body h4 {
  color: #6d6e75;
}

.products-page .card .card-body a {
  color: #075619;
  background-color: transparent;
  border: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.products-page .card .card-body a:focus {
  outline: none;
}

.product-details {
  padding: 30px 0;
}

.product-details h2 {
  color: #075619;
}

.product-details .img-box {
  border-radius: 10px;
}

.product-details .img-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-details .filters-box .filter {
  margin-bottom: 15px;
  padding: 15px;
}

.product-details .filters-box .filter h3 {
  color: #075619;
  margin-bottom: 15px;
}

.product-details .filters-box .product-titles p {
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
  color: #075619;
}

.product-details .filters-box .product-titles p svg,
.product-details .filters-box .product-titles p span {
  color: #6d6e75;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}

.product-details .product-info {
  padding: 30px 0;
}

.product-details .product-info h3 {
  color: #075619;
}

.product-details .product-info p {
  text-align: justify;
}

.product-details .project-details-text p {
  padding: 0 10px;
  color: #6d6e75;
  font-size: 20px;
  text-align: justify;
}

.heighlights {
  padding: 30px 0;
}

.heighlights h2::before, .heighlights h2::after {
  width: 6%;
}

.integerated {
  padding: 30px 0;
}

.integerated h2::before, .integerated h2::after {
  width: 3%;
}

.integerated .card {
  border: none;
}

.integerated .card img {
  border-radius: 10px;
}

.integerated .card .card-body {
  position: relative;
}

.integerated .card .card-body h4 {
  color: #6d6e75;
}

.integerated .card .card-body a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -25%;
  right: 10%;
  background-color: #075619;
  border: none;
  line-height: 28px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.integerated .card .card-body a:focus {
  outline: none;
}

.integerated .card .card-body a:hover {
  -webkit-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
}

.why-to-invest {
  padding: 30px 25px;
  background: -webkit-gradient(linear, left top, right top, from(#1d976c), to(#93f9b9));
  background: linear-gradient(to right, #1d976c, #93f9b9);
  color: #fff;
}

.why-to-invest a {
  color: #fff;
  border-color: #fff;
}

.why-to-invest a::before, .why-to-invest a::after {
  background-color: #88F0B2;
}

.why-to-invest a:hover {
  color: #fff;
}

.products-gallery {
  padding: 30px 0;
}

.products-gallery .owl-carousel a {
  text-decoration: none;
}

.products-gallery .owl-carousel a .products-gallery-slider-item {
  text-align: start;
}

.products-gallery .owl-carousel a .products-gallery-slider-item img {
  border-radius: 10px;
  max-height: 280px;
  min-height: 280px;
}

.products-gallery .owl-carousel a .products-gallery-slider-item h5 {
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  margin-top: 5px;
  color: #075619;
}

.products-gallery .owl-carousel a .products-gallery-slider-item h5 svg {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}

.products-gallery .owl-carousel .owl-nav {
  direction: ltr !important;
  position: relative;
}

.products-gallery .owl-carousel .owl-nav .owl-prev {
  width: 35px;
  height: 35px;
  position: absolute;
  left: -19px;
  top: -190px;
  background-color: #075619;
}

.products-gallery .owl-carousel .owl-nav .owl-prev span {
  font-size: 35px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
}

.products-gallery .owl-carousel .owl-nav .owl-next {
  width: 35px;
  height: 35px;
  position: absolute;
  right: -19px;
  top: -190px;
  background-color: #075619;
}

.products-gallery .owl-carousel .owl-nav .owl-next span {
  font-size: 35px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
}

.article-details {
  padding: 30px 0;
}

.article-details .article-details-img {
  position: relative;
}

.article-details .article-details-img .badge {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #075619;
  color: #fff;
  font-size: 18px;
  border-radius: 30px;
  padding: 15px;
}

.article-details .article-details-img img {
  border-radius: 10px;
}

.article-details .article-details-img h4 {
  color: #075619;
}

.article-details .article-details-img h4 span {
  font-size: 18px;
}

.article-details .article-details-img h4 span svg {
  color: #777;
}

.article-details .article-details-text h2::before, .article-details .article-details-text h2::after {
  width: 13%;
}

.article-details .article-details-text p {
  padding: 0 10px;
  color: #6d6e75;
  font-size: 20px;
  text-align: justify;
}

.rel-videos {
  padding: 30px 0;
}

.rel-videos h2::before, .rel-videos h2::after {
  width: 10%;
}

.rel-videos .owl-carousel .videos-slider-item iframe {
  width: 100%;
  border-radius: 10px;
  max-height: 280px;
  min-height: 280px;
}

.rel-videos .owl-carousel .owl-nav {
  position: relative;
}

.rel-videos .owl-carousel .owl-nav .owl-prev {
  width: 35px;
  height: 35px;
  position: absolute;
  left: -25px;
  top: -220px;
  background-color: #075619;
}

.rel-videos .owl-carousel .owl-nav .owl-prev span {
  font-size: 35px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
}

.rel-videos .owl-carousel .owl-nav .owl-next {
  width: 35px;
  height: 35px;
  position: absolute;
  right: -25px;
  top: -220px;
  background-color: #075619;
}

.rel-videos .owl-carousel .owl-nav .owl-next span {
  font-size: 35px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
}

.seasonal {
  padding: 30px 0;
}

.seasonal h2::before, .seasonal h2::after {
  width: 10%;
}

.seasonal p {
  font-size: 18px;
  line-height: 1.6;
  color: #6d6e75;
  text-align: justify;
}

.seasonal .nav-pills .nav-link {
  color: #075619;
  border: 1px solid #075619;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 3px 1px #075619;
  -o-box-shadow: 0 0 3px 1px #075619;
  box-shadow: 0 0 3px 1px #075619;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.seasonal .nav-pills .nav-link.active, .seasonal .nav-pills .nav-link:hover {
  color: #fff;
  background-color: #075619;
}

.seasonal .tab-content .tab-pane {
  border: 2px solid #075619;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3px 1px #075619;
  -o-box-shadow: 0 0 3px 1px #075619;
  box-shadow: 0 0 3px 1px #075619;
}

.seasonal .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.seasonal .search-box input {
  border-radius: 20px;
}

.seasonal .search-box .search-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  border: none;
  background-color: #075619;
  color: #fff;
  border-radius: 50%;
}

.seasonal iframe {
  border-radius: 10px;
  width: 100%;
  min-height: 280px;
  max-height: 280px;
}

.gallery-page {
  padding: 30px 0;
}

.gallery-page .card {
  border: none;
  min-height: 280px;
  max-height: 280px;
  border-radius: 10px;
}

.gallery-page .card img {
  width: 100%;
  min-height: 280px;
  max-height: 280px;
  border-radius: 10px;
}

.contact-us-page {
  padding: 30px 0;
}

.contact-us-page .social img {
  max-width: 60px;
  min-width: 60px;
  min-height: 60px;
  min-height: 60px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.contact-us-page .social img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact-us-page .card {
  min-height: 210px;
  max-height: 210px;
  border: 1px solid #075619;
  -webkit-box-shadow: 0 0 3px 1px #075619;
  -o-box-shadow: 0 0 3px 1px #075619;
  box-shadow: 0 0 3px 1px #075619;
  border-radius: 10px;
}

.contact-us-page .card .card-title {
  color: #075619;
}

.contact-us-page .card .card-list li {
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.contact-us-page .card .card-list li:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.contact-us-page .card .card-list li:last-child {
  margin-bottom: 0;
}

.contact-us-page .card .card-list li svg {
  color: #075619;
  font-size: 20px;
  margin: 0 5px;
}

.contact-us-page .card .card-list li span {
  color: #6d6e75;
  text-align: justify;
}

.contact-us-page iframe {
  width: 100%;
  min-height: 455px;
  max-height: 455px;
  border-radius: 10px;
}

.contact-us-page form input,
.contact-us-page form textarea {
  width: 100%;
  padding: 20px 10px;
  border: 1px solid #075619;
  border-radius: 10px;
}

.contact-us-page form input:focus,
.contact-us-page form textarea:focus {
  outline: none;
}

.contact-us-page form textarea {
  height: 150px;
}

.contact-us-page form textarea::-webkit-scrollbar {
  width: 5px;
  background-color: #212121;
  border-radius: 0 10px 10px 0;
}

.contact-us-page form textarea::-webkit-scrollbar-thumb {
  background-color: #075619;
  border-radius: 0 10px 10px 0;
}

.contact-us-page form button {
  background-color: transparent;
}

footer {
  background-color: #212121;
  color: #fff;
}

footer .footer-logo {
  width: 150px;
  height: 150px;
}

footer .footer-logo img {
  width: 100%;
  height: 100%;
}

footer .short-cuts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .short-cuts div a {
  color: #fff;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer .short-cuts div a:hover {
  color: #075619;
}

footer .follow-us h5 {
  color: #075619;
}

footer .follow-us ul {
  text-align: center;
}

footer .follow-us ul li {
  display: inline-block;
  margin: 0 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer .follow-us ul li:hover {
  -webkit-transform: rotate(-30deg) scale(1.2);
          transform: rotate(-30deg) scale(1.2);
}

footer .follow-us ul li a {
  color: #fff;
  font-size: 35px;
  opacity: 0.3;
}

footer .follow-us ul li a:hover {
  opacity: 1;
}

footer .get-in-touch h5 {
  color: #075619;
}

footer .get-in-touch ul {
  overflow: hidden;
}

footer .get-in-touch ul li {
  margin-bottom: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer .get-in-touch ul li:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

footer .get-in-touch ul li svg {
  color: #075619;
  font-size: 18px;
}

footer .copy-rights {
  background-color: #383838;
  padding: 6px 10px;
}

footer .copy-rights span a {
  color: #075619;
  text-decoration: none;
}

footer .copy-rights span a:hover {
  color: #008cff;
}
/*# sourceMappingURL=style.css.map */